.app.default {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #070744;
  --primary-color: #1a3fb1;
  --secondary-color: #164ec5;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
