.app.default {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #070744;
  --primary-color: #335bd3;
  --secondary-color: #234183;
  --inverted-primary-color: #12d812;
  --inverted-secondary-color: #049604;
}
