// https://mobilepalette.colorion.co/

.app_mint_theme {
  --bg-color: #18bba2;
  --inverted-bg-color: #e5fffb;
  --primary-color: #165ca7;
  --secondary-color: #0e3c6d;
  --inverted-primary-color: #165ca7;
  --inverted-secondary-color: #0e3c6d;
}
